.loggeduser { 
    color: gray;                
    text-align: right;
	margin-right: 10pt;
}

.centered {
	text-align: center;
}

.no-padding {
	padding: 0;
}

.auth {
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
}

.username {
	color: #50BC5C;
}

.centered-form {
	width: 90%;
	margin: 0 auto;
}

.btn-padding {
	margin: 10px;
}

.left {
	margin-top: 30px;
	width: 50%;
	float: left;
}

.right {
	margin-top: 30px;
	width: 50%;
	float: left;
}

.adapter {
	width: 90%;
}

.negrita {
	font-weight: bold;
}

.navbar-padding {
	margin-left: 20px;
	margin-right: 20px;
}

.hidden {
	display: none;
}

.visible {
	display: inherit;
}

.calendar-icon {
	cursor: pointer;
	font-size: 1.7em;
	padding-top: 5px;
}

.clear {
	clear: both;
}

.activity-container {
	border: 1px solid;
	border-radius: 5px;
	margin: 5px;
}

.menu-down-right {
	float: right;
	padding-top: 40px;
	cursor: pointer;
}

.activity-info-left {
	float: left;
}

.info-hidden {
	display: none;
}

.info-visible {
	display: inherit;
}