.normal, .movimiento{
    width: 1600px;
	display: inline-block;
    position: relative;
    left: -550px;
}

.movimiento {
	-webkit-animation-name: movDiv; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Que la animacion de principio a fin tarde 4seg */
    /* -webkit-animation-delay: 2s; Que la animacion comience en 2seg */
    animation-name: movDiv;
    animation-duration: 3s;
}

.aparecer {
	-webkit-animation-name: opAparecer; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Que la animacion de principio a fin tarde 4seg */
    /* -webkit-animation-delay: 2s; Que la animacion comience en 2seg */
    animation-name: opAparecer;
    animation-duration: 3s;
}

.desaparecer {
	-webkit-animation-name: opDesparecer; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Que la animacion de principio a fin tarde 4seg */
    /* -webkit-animation-delay: 2s; Que la animacion comience en 2seg */
    animation-name: opDesparecer;
    animation-duration: 3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes movDiv {
    0%   {
    	left: -550px;}
    100%  {left: -875px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes opAparecer {
    0%   {opacity: 0.3;}
    100%  {opacity: 1;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes opDesparecer {
    0%   {opacity: 1;}
    100%  {opacity: 0.3;}
}

/* Standard syntax */
@keyframes movDiv {
    0%   {left: -550px;}
    100%  {left: -870px;}
}

/* Standard syntax */
@keyframes opAparecer {
    0%   {opacity: 0.3;}
    100%  {opacity: 1;}
}

/* Standard syntax */
@keyframes opDesparecer {
    0%   {opacity: 1;}
    100%  {opacity: 0.3;}
}

.centro {
	opacity: 1;
}

.izq, .izqOculta, .der, .derOculta{
	opacity: 0.3;
}

.izq, .centro, .der, .derOculta, .aparecer, .desaparecer {
	padding-left: 15px;
}

.sectionText {
	float: left;
	width: 50%;
	text-align: justify;
    text-justify: inter-word;
}
.sectionRight {
	width: 50%;
	float:right;
	margin: auto;
	padding: 70px 0px 0px 70px;
}

.sectionImg {
    width: 500px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    overflow: hidden;
}

.brilloHeader {
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
	-o-filter: brightness(80%);
	-ms-filter: brightness(80%);
}
.headerBackground {
	width-max: 125%;
	/*height: 250px;*/
	height: 270px;
	background: url("../images/header2.jpg") no-repeat 100%;
	/*opacity: 0.9;*/
	
}
.titlePage {
	text-align: center;
	font-family: 'Skranji', cursive;
	
	font-size: 90px;
	color: #cecece;
	margin: 0px;
	text-stroke: 2px black;
	-webkit-text-stroke: 2px black;
	-moz-text-stroke: 2px black;
	-o-text-stroke: 2px black;
	-ms-text-stroke: 2px black;
	
	text-shadow: 2px 3px 1px black;
	-webkit-text-shadow: 2px 3px 1px black;
	-moz-text-shadow: 2px 3px 1px black;
	-o-text-shadow: 2px 3px 1px black;
	-ms-text-shadow: 2px 3px 1px black;
	/*
	font-family: 'Londrina Solid', cursive;
	text-align: center;
	color: #cecece;
	margin: 0px;
	font-size: 80px;
	font-style: italic;
	font-weight: 400;
	position: relative;
	font-family: 'Chicle', cursive;
	/*font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;*/
	
	/*
	
	letter-spacing: -3px;
	text-stroke: 2px black;
	-webkit-text-stroke: 2px black;
	-moz-text-stroke: 2px black;
	-o-text-stroke: 2px black;
	-ms-text-stroke: 2px black;
	
	text-shadow: 2px 2px 2px black;
	-webkit-text-shadow: 2px 2px 2px black;
	-moz-text-shadow: 2px 2px 2px black;
	-o-text-shadow: 2px 2px 2px black;
	-ms-text-shadow: 2px 2px 2px black;*/
}

.iconPage {
	background: url("../images/icon.png") no-repeat 100%;
	background-position: center;
	padding-top: 150px;
	text-align: center;
	
	filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
    -webkit-filter: drop-shadow(2px 2px 2px black) drop-shadow(2px 2px 2px black);
	-moz-filter: drop-shadow(2px 2px 2px black) drop-shadow(2px 2px 2px black);
	-o-filter: drop-shadow(2px 2px 2px black) drop-shadow(2px 2px 2px black);
	-ms-filter: drop-shadow(2px 2px 2px black) drop-shadow(2px 2px 2px black);
    /*
    
    filter: brightness(40%);
	-webkit-filter: brightness(20%);
	-moz-filter: brightness(80%);
	-o-filter: brightness(80%);
	-ms-filter: brightness(80%);*/
}




